/* body of the webpage */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* class container */
.container {
    display: flex;
}

/* Styling header */
header {
    background-color: #17072b;
    color: #ffffff;
    padding: 20px 0;
}

/* header logo */
header .logo {
    font-weight: bold;
}

/* nav for ul */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* nav for ul list */
nav ul li {
    display: inline;
    margin-right: 20px;
}

/* nav for ul list anchor tag */
nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* main styling */
main {
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 0px;
}

/* class welcome */
.welcome{
    width: 55%;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 8px;
}

/* class for line-up */
.line-up { 
    width: 45%;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 8px;
    color: #ffffff;
}

/* class line-up-side-bar */
.line-up-side-bar {
    height: 480px;
    background-color: #172d67; 
    padding-right: 20px;
    padding-top: 8px;

}

/* class line-up list */
.line-up ul {
    list-style-type: none;
    margin-left: 40px;
    padding: 0;
    line-height: 2.5; 
}

/* class images */
.images {
    display: flex;
    justify-content: center; 
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
}

/* class imagas img */
.images img {
    margin: 0 10px; /* Add margins to the images */
}

/* Styling footer */
footer {
    background-color: #8c15e9;
    color: #ffffff;
    padding: 3px 0;
    text-align: center;
}